body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;

  text-decoration: none !important;
  list-style: none !important;
}

.siteContainer {
  display: flex;
  flex-direction: column !important;
  min-height: 100vh !important;
}

main {
  flex: 1;
}
